/*
CSS4Reuse 1.0.0-beta
*/

/* Resets */
a.reset { text-decoration: none; }
h1.reset, h2.reset, h3.reset, h4.reset, h5.reset, h6.reset { font-weight: normal; }
h1.reset, h2.reset, h3.reset, h4.reset, h5.reset, h6.reset, p.reset, ol.reset, ul.reset { margin-top: 0; margin-bottom: 0; }
input[type="submit"], button { background-color: transparent; border: 0; }
ol.reset, ul.reset { list-style-type: none; padding-left: 0; }
strong.reset { font-weight: normal; }
em.reset { font-style: normal; }
blockquote.reset { margin: 0; }

/* Específicos */
.button { cursor: pointer; display: inline-block; }

/* Lists */
ul.no-bullet { list-style-type: none; }
ol.horizontal, ul.horizontal { list-style-type: none; padding-left: 0; }
ol.horizontal > li, ul.horizontal > li { display: inline-block; }
ol.horizontal.table, ul.horizontal.table { display: table; }
ol.horizontal.table > li, ol.horizontal.table > li { display: table-cell; }

/* Carousel */
.inline-block-carousel .clip, .table-carousel .clip { overflow: auto; }
.js .inline-block-carousel .clip, .js .table-carousel .clip { overflow: hidden; }
.inline-block-carousel .list { font-size: 0; position: relative; white-space: nowrap; }
.inline-block-carousel .list > * { display: inline-block; font-size: 18px; white-space: normal; width: 100%; }
.table-carousel .list { display: table; position: relative; }
.table-carousel .list > * { display: table-cell; }

/* dropdown */
.dropdown {	position: relative; }
.dropdown > ul { position: absolute; }
.dropdown.to-bottom > ul { top: 100%; }

/* font-weight */
.thin { font-weight: 200; }
.light { font-weight: 300; }
.bold { font-weight: bold; }
.semibold { font-weight: 600; }
.ultrabold { font-weight: 900; }

/* font-style */
.italic { font-style: italic; }
.no-italic { font-style: normal; }

/* text-decoration */
.no-decoration { text-decoration: none; }
.underline { text-decoration: underline; }

/* text-transform */
.no-case { text-transform: none; }
.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }

/* display */
.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }
.table { display: table; }
.cell { display: table-cell; }
.middle { vertical-align: middle; }

/* text-align: */
.centralized { text-align: center; } /* may change: */
.center { text-align: center; }
.t-left { text-align: left; }
.t-right { text-align: right; }
.justify { text-align: justify; }

/* position */
.absolute { position: absolute; }
.fixed { position: fixed; }
.relative { position: relative; }
.static { position: static; }

/* overflow */
.o-auto { overflow: auto; }
.o-hidden { overflow: hidden; }
.o-scroll { overflow: scroll; }
.o-visible { overflow: visible; }

/* float */
.f-left { float: left; }
.f-right { float: right; }

/* width */
.w100p { width: 100%; }
.w75p { width: 75%; }
.w66p { width: 66%; }
.w50p { width: 50%; }
.w33p { width: 33%; }
.w25p { width: 25%; }

/*
 * Diamond
 */
.diamond {
	display: inline-block;
	font-size: 0;
	line-height: 0;
}

/*
 * Arrows
 */
.arrow { border-color: transparent; border-style: solid; display: inline-block; }
.top.arrow, .bottom.arrow { border-right-color: transparent !important; border-left-color: transparent !important; }
.top.arrow {border-top-width: 0 !important; }
.bottom.arrow {border-bottom-width: 0 !important; }
.right.arrow, .left.arrow {border-top-color: transparent !important; border-bottom-color: transparent !important; }
.right.arrow {border-right-width: 0 !important; }
.left.arrow {border-left-width: 0 !important; }

/*
 * Round
 */
.round {
	background-clip: padding-box;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}